.button {
    width: 192px;
    padding: 16px 20px;
    border-radius: 8px;
    border: 1px solid #3C4242;
    color: #8A33FD;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: #FFFF;
}
.cancel {
    color: #FFFF;
    border: none;
    
}
.cancelWithMargin {
    color: #FFFF;
    border: none;
    margin:  0 auto;
}
.close {
    width: auto;
    padding: 0;
    border: none;
    color: #3C4242;
}