.item {
    position: relative;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img {
    max-width: 100%;
    height: 178px;

}
.svg {
    position: absolute;
    top: 10px;
    right: 10px;
}